*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Racing Sans One;
}

.border-bottom-gradient {
    border-image: linear-gradient(to right, blue 0%, rgb(177,1,177) 70%) 1;
    border-radius: 5px; /* this doesn't work */
    border-bottom-width: 5px;
    border-bottom-style: solid;
    padding: 5px;
}

body{
    background-color: #000;
}

.nav-link:hover{
    color: rgb(177, 1, 177)!important;
    transition: 0.5s;
}

video{
    filter: brightness(55%) hue-rotate(-60deg) saturate(180%) contrast(150%);   
    width: 50%!important;
    position: absolute;
    z-index: -1;
}

.h-500{
    height: 500px;
}